.navbar {
  background-color: #265f9d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 65px;
}

.navbar-2-img-main {
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  justify-content: center;
  margin-left: 50px;
}
.navbarimg1 {
  height: 50px;
}

.navbar-Admin-main {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  padding-right: 2px;
  width: 8%;
}

.img-photo {
  cursor: pointer;
  height: 40px;
}

.Navbarlogo {
  height: 15px;
}
.NavbarLast {
  color: white;
  height: 27px;
  cursor: pointer;
}




/* /////////////////////////////////////////////////////////////////////////////////////// */




.custom-modal {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0;
}

.modal-content {
  background-color: white;
  border-radius: 3px;
  width: 280px;
  padding: 24px;
  box-shadow: 0px 0px 1px rgba(0, 6, 4, 1.2);
  position: absolute;
  top: 65px;
  right: 26px;
}

.navbar-popup-name{
  font-weight: bold;
  display: block;
    font-size: 1.17em;
}
.popupShowMain {
  display: flex;
}
.popup-Heding-name {
  margin-left: 8px;
}

.adminPopupText {
  font-size: 13px;
}

.Manage-button-popup {
  padding-top: 23px;
  text-decoration: underline;
}

.user-logo {
  padding-top: 6px;
  font-size: 15px;
}
.PowerOff-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 18px;
}
.FaPowerOff {
  padding-top: 5px;
  padding-right: 4px;
  cursor: pointer;
}

.FaPowerOff-logout{
  cursor: pointer;
}
/* /////////////////////////////////////////////////////////////////////////////////////// */
.DeleteCon-modal .ant-modal-content {
  height: 20vh;
  width: 45vh;
  position: absolute;
  top: 41%;
  right: 10%;
}

.DeleteCon-modal-button-main {
  display: flex;
  justify-content: center;
  gap: 7px;
  margin-top: 32px;
}

.DeleteCon-modal-button1,
.DeleteCon-modal-button2 {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.DeleteCon-modal-button1 {
  background-color: #00B282;
  color: white;
}

.DeleteCon-modal-button2 {
  background-color: #D4D4D4;
  color: white;
  margin-left: 10px;
}

.DeleteCon-modal-heding{
  text-align: center;
}