.TablelUser-main{

    justify-content: center
    ;
}

.TablelUser-main {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .TablelUser-main th {
    background-color: #f2f2f2;
    padding: 8px;
    text-align: left;
  }
  
  .TablelUser-main td { 
    padding: 8px;
  }
  .underline{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .chacbox {
    text-align: center;
  }
  
  .TablelUser-main tbody tr:hover {
    background-color: #f5f5f5;
  }

  .chacbox-chekd{
    width: 97%;
    height: 21px;
  }
  .chacbox-chekd:checked {
   
    background-color: rgb(7, 13, 15); 
    border: 2px solid rgb(0, 0, 0); 
  }



  /* ///////////////////////////////////////////////////////////////////////////////////////////////// */


.TablelUser-table .ant-modal-content {
    height: 70vh;
    width: 143%;
    position: absolute;
    left: -18%;
    top: 96%;
    color: black;
}
.TablelUser-table-heding{
  text-align: center;
  margin: 4px;
}

.TablelUser-table-row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  /* background-color: darkcyan; */
}

.TablelUser-table-1 {
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: #707070;
  border-radius: 5px;
  padding: 4px;
}
.TablelUser-FaEdit-edit-icons {
  color: #707070;
  position: absolute;
  right: 1%;
  top: 4%;
  height: 73px;
  width: 20px;
  cursor: pointer;
}
.TablelUser-table-cell {
  flex: 1;
  padding: 10px;
  border-bottom: 1px solid #707070;
  font-size: larger;
}