

.TablelUser-main {
  justify-content: center;
    width: 100%;
    border-collapse: collapse;
  }
  
  .TablelUser-main th {
      background: #f2f2f2 0 0 no-repeat padding-box;
      border-bottom: 1px solid #cfcfcf;
      font-size: 15px;
      height: 60px;
      padding: 8px 13.5px;
      text-align: start!important;
      text-align: center;
      white-space: nowrap;
  }
   
  .TablelUser-main td { 
    border-bottom: 1px solid #cfcfcf;
    border-top: 1px solid #cfcfcf;
    font-size: 14px;
    font-weight: 600;
    height: 47.6px!important;
    max-width: 170px;
    overflow: hidden;
    padding: 10px 15px;
    text-align: start!important;
    text-overflow: ellipsis;
    white-space: nowrap;  
  }
  .underline{
    color: #006295;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .chacbox {
    text-align: center;
  }


  .chacbox-chekd{
    width: 97%;
    height: 21px;
  }
  .chacbox-chekd:checked {
   
    background-color: rgb(7, 13, 15); 
    border: 2px solid rgb(0, 0, 0); 
  }


  .TablelUser-input{
    height: 25px;
    width: 21px;
    display: flex;
    justify-content: center;
    align-items: center;

  }


  .TablelUser-input.checked {
    background-color: #00B282;
  }

.fa-solid-icons{
  cursor: pointer;
}

  /* ///////////////////////////////////////////////////////////////////////////////////////////////// */


.TablelUser-table .ant-modal-content {
    height: 70vh;
    width: 143%;
    position: absolute;
    left: -18%;
    top: 96%;
    color: black;
}
.TablelUser-table-heding{
  text-align: center;
  margin: 4px;
}

.TablelUser-table-row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  /* background-color: darkcyan; */
}

.TablelUser-table-1 {
  border-width: 1px 1px 0px 1px;
  border-style: solid;   
  border-color: #707070;
  border-radius: 5px;
  padding: 4px;
  margin: 11px;
}
.TablelUser-FaEdit-edit-icons {
  color: #707070;
  position: absolute;
  right: 2%;
  top: 5%;
  height: 73px;
  width: 21px;
  cursor: pointer;
}
.TablelUser-table-cell {
  flex: 1;
  padding: 10px;
  border-bottom: 1px solid #707070;
  font-size: larger;
}



  /* ///////////////////////////////////////////////////////////////////////////////////////////////// */
  .TablelUser-FaEdit-edit-icons-modal .ant-modal-content {
    height: 73vh;
    width: 197%;
    /* text-align: center; */
    margin: 22px -226px;
}


.TablelUser-modal-in-3 {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  margin: 31px 56px;
}
.TablelUser-FaEdit-edit-icons-modal-heding{
  text-align: center;
  font-size: 26px;
  color: #000000;
}
.TablelUser-modal-in-3::placeholder {
  color: #999;
}

.TablelUser-modal-in-3:focus {
  border-color: #5cabff;
  box-shadow: 0 0 5px rgba(55, 152, 255, 0.5);


}
.TablelUser-FaEdit-right-modal{
gap: 30px;
}





.TablelUser-FaEdit-edit-icons-modal-button {
  background-color: #00B282;
  color: #F5F5F5;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 19px;

  position: absolute;
  top: 79%;
  left: 47%;
}

/* ///////////////////////////////////////////////----- ChakBox input  modal css ---------////////////////// */








/* ///////////////////////////////////////////////----- Pagination-react-table---------////////////////// */



.Pagination-react-table {
  display: flex;
  justify-content: end;
  align-items: center;
  /* border: 1px solid #00B282; */
  margin: 2px 29px;
}

.react-table-icons-2{
  cursor: pointer;
  height: 44px;
    width: 34px;

}
.react-table-icons-1{
  cursor: pointer;
  height: 44px;
    width: 34px;

}
