

.TablelUser-main {
  justify-content: center;
    width: 100%;
    border-collapse: collapse;
  }
  
  .TablelUser-main th {
      background: #f2f2f2 0 0 no-repeat padding-box;
      border-bottom: 1px solid #cfcfcf;
      font-size: 15px;
      height: 60px;
      padding: 8px 13.5px;
      text-align: start!important;
      text-align: center;
      white-space: nowrap;
  }
   
  .TablelUser-main td { 
    border-bottom: 1px solid #cfcfcf;
    border-top: 1px solid #cfcfcf;
    font-size: 14px;
    font-weight: 600;
    height: 47.6px!important;
    max-width: 170px;
    overflow: hidden;
    padding: 10px 15px;
    text-align: start!important;
    text-overflow: ellipsis;
    white-space: nowrap;  
  }
  .underline{
    color: #006295;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .chacbox {
    text-align: center;
  }

  .FiEdit3{
    margin-left: 6px;
    color: #3b3939;
  }

  .chacbox-chekd{
    width: 97%;
    height: 21px;
  }
  .chacbox-chekd:checked {
   
    background-color: rgb(7, 13, 15); 
    border: 2px solid rgb(0, 0, 0); 
  }


  .TablelUser-input{
    height: 25px;
    width: 21px;
    display: flex;
    justify-content: center;
    align-items: center;

  }


  .TablelUser-input.checked {
    background-color: #00B282;
  }

.fa-solid-icons{
  cursor: pointer;
}

  /* ///////////////////////////////////////////////////////////////////////////////////////////////// */


.TablelUser-table .ant-modal-content {
  height: 68vh;
  width: 183%;
  position: absolute;
  left: -42%;
  top: 100%;
  color: black;
  padding: 0;
}

.TablelUser-table .ant-modal-close {
  position: absolute;
  top: -23px;
  right: -25px;
  background-color: white;
  border-radius: 50%;

}
.TablelUser-table .ant-modal-close:hover {
  background-color: white;

}



.TablelUser-table-heding-main{
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
  text-align: right;
  width: 100%;
}


.TablelUser-table-heding{
  align-items: center;
  background: #d4d4d4;
  border-radius: 0 0 100px 100px;
  display: flex;
  font: normal normal bolder 18px/31px;
  font-size: 18px;
  height: 65px;
  justify-content: center;
  letter-spacing: .2px;
  width: 380px;
}

.TablelUser-table-row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  
}

.TablelUser-table-1 {
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #707070;
  border-radius: 5px;
  padding: 0px;
  margin: 11px 85px;
  height: 53vh;
}
.TablelUser-FaEdit-edit-icons {
  color: #999999;
  position: absolute;
  right: 63px;
  top: 38px;
  height: 73px;
  width: 21px;
  cursor: pointer;
}
.TablelUser-table-cell {
  flex: 1;
  padding: 12.7px;
  border-bottom: 1px solid #707070;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  text-align: center;

}
.lebal-show {
  font-weight: bolder;
  color: #000000;
 
  margin-left: 19%;
}

.TablelUser-main-modal-key{
  position: absolute;
  left: 61%;
  font-weight: 900;
}

.TablelUser-main-modal-sapn{
  font-weight: 900;
  color: black;
  position: absolute;
    right: 51%;
}
.nameColumn {
  color: #006295;
  cursor: pointer;
  
}


  /* ///////////////////////////////////////////////////////////////////////////////////////////////// */
  .TablelUser-FaEdit-edit-icons-modal .ant-modal-content {
    height: 73vh;
    width: 251%;
    /* text-align: center; */
    margin: 24px -394px;
    background: #f5f5f5 0 0 no-repeat padding-box;
    height: 492px!important;
    padding: 45px 24px!important;
}


.TablelUser-modal-in-3 {
  border: none;
    border-radius: 5px;
    box-shadow: 0 0 2px;
    height: 48px;
    outline: none;
    padding: 12px;
    width: 21.5vw;
    border-color: #00B282;
}
.TablelUser-FaEdit-edit-icons-modal-heding{
  font-size: 17px;
  font-weight: 700;
  margin-left: 38px;
  color: #000000;
  font-weight: 900;

}

.yyy{
  align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.TablelUser-FaEdit-right-modal{
  display: flex;
  gap: 10%;
  height: 100px;
  justify-content: start;
  margin-left: 3%;
}


.TablelUser-FaEdit-edit-icons-modal-button-main{
  align-items: center;
  display: flex;
  justify-content: center;
}

.TablelUser-FaEdit-edit-icons-modal-button {
  background: #00b282 0 0 no-repeat padding-box;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  height: 65px;
  margin-top: 25px;
  outline: none;
  width: 14%;
}




.TablelUser-table-cell-span{
  width: 47%;
    padding-left: 28px;
    font-weight: 900;
}

/* ///////////////////////////////////////////////----- footer----------////////////////// */
.footer-main-div{
      align-items: center;
    background-color: #e6e6e6;
    display: flex;
    height: 50px!important;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
    width: 100%;
}



/* .TablelUser-table-cell-2{
  color: #006295;
  text-decoration: underline;
  cursor: pointer;
} */




/* ///////////////////////////////////////////////----- Pagination-react-table---------////////////////// */



.Pagination-react-table {
  display: flex;
  justify-content: end;
  align-items: center;
  /* border: 1px solid #00B282; */
  margin: 2px 29px;
}

.react-table-icons-2{
  cursor: pointer;
  height: 44px;
    width: 34px;

}
.react-table-icons-1{
  cursor: pointer;
  height: 44px;
    width: 34px;

}
