.TableNavbar {
  align-items: center;
  background: #e6e6e6 0 0 no-repeat padding-box;
  border-radius: 10px 10px 0 0;
  display: flex;
  height: 50px;
  justify-content: space-between;
  opacity: 1;
  padding: 20px;
  margin-top: 20px;
}



.TableNavbar-BiSearch-Search-icons {
  color: black;
  left: 27.8px;
  position: relative;
  top: 6.2px;
}
.TableNavbar-search-box {
  background: #fff 0 0 no-repeat padding-box;
  border: 1px solid #d5e9ff;
  border-radius: 15px;
  box-shadow: 0 2px 3px #00000029;
  height: 32px;
  opacity: 1;
  outline: none;
  padding-left: 30px;
  width: 290px;
}




  .TableNavbar-right-side {
    display: flex;
    align-items: center;
    gap: 3px;
  }
  
  .TableNavbar-nav-image {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    cursor: pointer;
  }

  .TableNavbar-nav-image:hover {
    color: #265F9D;
  }

  .TableNavbar-nav-Delete-button {
    /* margin: 0 5px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 9px;
    background-color: #D4D4D4;
    border: none;
    border-radius: 6px;
    color: #575757;
    gap: 2px;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
    margin-right: 3px;
}
.MdDelete{
height: 15px;
width: 15px;
}
  .TableNavbar-nav-Delete-button:hover {
    background-color: #AA0000   ;
    color: white;
  }

  .TableNavbar-nav-button {
    background: #265f9d 0 0 no-repeat padding-box;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    height: 38px;
    opacity: 1;
    width: 110px;
}

.TableNavbar-navbar-center-box {
  background-color: #FFFFFF;
  width: 50%;
  height: 4vh;

  border: 1px solid #dbdbdb;                                   
  border-radius: 6px;
  cursor: text;
  transition: border-color 0.3s; /
}
.TableNavbar-navbar-center-box:hover {
  border-color: #4096ff;
}

.TableNavbar-navbar-center-box:focus {
  border: 1px solid #4096ff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);  
  outline: none;
}

.TablelUser-input{
  height: 25px;
  width: 21px;
}
.TablelUser-input.checked {
  background-color: #00B282;
}

.TableNavbar-navbar-center-wiseskiils { 
  background-color: #265F9D;
  width: 21%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 7px;
  border-radius: 5px;
  opacity: 0.30;
  color: black;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////// */

.popup-title .ant-modal-content {
  height: max-content;
  width: 72%;
}

.popupTitalImg {
  height: 33px;
}
.Column-Settings {
  position: absolute;
  right: 47%;
  top: 5%;
}
.checkboxPOPUP-1 {
  margin: 2PX;
  HEIGHT: 18px;
  width: 21px;
}

.form-container {
  padding: 16px;
  /* border: 1px solid #00B282; */

}


.item{
  list-style-type: none;
  cursor: pointer;
  padding: 9px;
}

.popupicons {
  margin-right: 8px;
}

.popup-1 {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  gap: 8px;

}

.popup-tow-button-main {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  background-color: #f5f5f5;
  border-top: 1px solid #ccc;
}

.cancel-button {
  margin-right: 8px;
  background-color: #D4D4D4;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
}

.apply-button {
  background-color: #00B282;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
}

.apply-button:hover {
  background-color: #00b887;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */



.table-navbar-Modal-2 .ant-modal-content {
  height: 61vh;
  width: 82%;
  margin: 88px 31px;
}

.Lottie-lodar{
  width: 100%;
  height: 80%;
  transform: translate3d(0px, 0px, 0px);
}

.loding-text {
  font-size: 21px;
  text-align: center;
  font-weight: 900;
}



.popup-Modal-3 .ant-modal-content {
  height: 24vh;
  width: 69%;
  position: absolute;
  right: 9%;
  top: 213%;
}



.Modal-3-button-main {
  position: absolute;
  top: 51%;
  right: 20%;
}

.Modal-button-yes-button{
  background-color: #00B282;
   padding: 9px 42px;
  font-size: 17px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
  margin: 1px 13px;

}

.Modal-button-no-button{
  background-color: #D4D4D4;
  padding: 9px 42px;
  font-size: 17px;
  border: none;
  border-radius: 5px;


  cursor: pointer;
  color: black;
}

.Modal-3-heding {
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 19%;
  right: 31%;
}
 