.TableNavbar {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 0px 36px;
    background-color: #E6E6E6;
    color: white;
}
  
.TableNavbar-left-side {
    display: flex;
    align-items: center;
    width: 30%;
}
.TableNavbar-search-box {
  width: 86%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 29px;
  margin-left: 13px;
}
  
  .TableNavbar-right-side {
    display: flex;
    align-items: center;
  }
  
  .TableNavbar-nav-image {
    width: 30px;
    height: 30px;
    margin: 0 5px;
  }
  .TableNavbar-nav-Delete-button {
    margin: 0 5px;
    padding: 9px 15px;
    background-color: #A4A5A5;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 11px;
}

  .TableNavbar-nav-Delete-button:hover {
    background-color: #AA0000   ;
  }

  .TableNavbar-nav-button {
    margin: 0 5px;
    padding: 8px 10px;
    background-color: #265F9D;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 12px;
}


.TableNavbar-navbar-center-box {
  background-color: #FFFFFF;
  width: 44%;
  height: 5vh;
  margin-right: 14px;
  border-radius: 5px;
}  
.TableNavbar-navbar-center-wiseskiils {
  background-color: #265F9D;
  width: 21%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 7px;
  border-radius: 5px;
  opacity: 0.30;
  color: black;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* 
seting modal csss */

:where(.css-dev-only-do-not-override-fpg3f5).ant-modal .ant-modal-content {
  position: relative;
  background-color: #FFFFFF;
  background-clip: padding-box;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  pointer-events: auto;
  padding: 20px 24px;
  height: 73vh;
  width: 173%;
  margin: 103px -245px;
}


.popupTitalImg{
  height: 34px;
  position: absolute;
  top: 3%;
}

:where(.css-dev-only-do-not-override-fpg3f5).ant-modal .ant-modal-title {
  margin-left: 42px;
  color: rgba(0, 0, 0, 0.88);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}


.form-container {
  display: flex;
  position: absolute;
  top: 19%;
  right: 61%;
}

.popupTowDot {
  height: 20px;
  color: red;
  width: 19px;
  font-weight: bolder;
}
.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-label input {
  height: 18px;
  width: 17px;
  margin-right: 14px;
}
.popupicons {
  margin: 11px;
}



:where(.css-dev-only-do-not-override-fpg3f5).ant-modal .ant-modal-footer {
  text-align: end;
  background: transparent;
  /* margin-top: 12px; */
  position: absolute;
  bottom: 8%;
  right: 9%;
}



:where(.css-dev-only-do-not-override-fpg3f5).ant-btn {
  font-size: 14px;
  height: 40px;
  padding: 8px 15px;
  border-radius: 6px;
  width: 94px;
  border: none;
}



.cancel-button {
  background-color: #D4D4D4;
  color: #333;
  padding: 10px 26px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.apply-button {
  background-color: #00B282;
  color: white;
  padding: 10px 26px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.popup-tow-button-main {
  position: absolute;
  bottom: 9%;
  right: 8%;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
:where(.css-dev-only-do-not-override-fpg3f5).ant-modal .ant-modal-content {
  position: relative;
  background-color: #FFFFFF;
  background-clip: padding-box;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  pointer-events: auto;
  padding: 2px 4px;
  height: 56vh;
  width: 74%;
  margin: 104px 38px;
}


.Lottie-lodar{
  width: 100%;
  height: 80%;
  transform: translate3d(0px, 0px, 0px);
  content-visibility: visible;
}

.loding-text {
  font-size: 21px;
  text-align: center;
  font-weight: 900;
}