.footer-main{
    background-color: #e6e6e6;
    display: flex;
    justify-content: space-between;
    height: 50px!important;
    padding-left: 35px;
    padding-right: 35px;
    width: 100%;
}

 .pagination-of-footer.ant-pagination {
   
    display: flex;
    justify-content: end;
    align-items: center;

 }


 .pagination-of-footer .ant-pagination-options {
    position: absolute;
    right: 48%;
    top: 94%;
}
.showing-footer-text-1 {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    width: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
}



