*{
    margin: 0;
    padding: 0;
}


.main{
    height: 97vh; 
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
  align-items: center;
  background-color: #edf1f4;
  gap: 10px;
}

.login-box-img{
    background-image: url(./background.png);
    /* background-color: aqua; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    left: -250px;
    position: absolute ;
    top: -8px;
    width: 481px;
}
.box-main {
    width: 485px;
    height: 75%;
    background-color: #265F9D ;
    border-radius: 10px;
    box-shadow: 24px 21px 99px #00000024;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font: normal normal 26px/65px Poppins;
    font-weight: 300;
    opacity: 1;
    padding-bottom: 12px;
    color: #FFFFFF;
}
.img-logo{
    height: 92%;
}


.login-main-button{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.Login-button{
    background: transparent;
    border: 1.5px solid #fff;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    height: 50px;
    width: 220px;
    cursor: pointer;
    margin-top: 10px;
    
}
.input-box-main {
    display: flex;
    flex-direction: column;
    width: 322px;
    margin-top: 18px;
    gap: 31px;
}
.input-field {
    padding: 9px 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.input-field::placeholder {
    color: #999;
  }

  .input-field:hover {
    border-color: 1px solid #00b282; 
    box-shadow: 0 1px 3px 0 #4caf50, 0 0 0 1px #4caf50;
  }
  .input-field:focus {
    border-color: 1px solid #04a076; 
    box-shadow: 0 2px 3px 0 #4caf50, 0 0 0 1px #4caf50;
  }

  .Login-button:hover{
    background-color: #00b282;
    border: 1.5px solid #00b282;
    transition: all .5s 
  }

  .input-field[type="email"] {
    color: #0f0d0d;
  }



  .img-heading-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}
